body {
    overflow-x: hidden;
    font-family: "TT Hoves", serif;
}
body,ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
ul{list-style-type: none;}
.container {min-width: 90%;}
.cardioCenter_fluid,.traumaCenter_fluid, .services_fluid,
.contact_fluid, .ourSpecialists_fluid {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardioCenter_fluid {background-image: url("../img/cardioCenterBack.png");}
.traumaCenter_fluid {background-image: url("../img/traumaCenterBack.png");}
.services_fluid {height: 348px; background-image: url("../img/servBack.png");}
.contact_fluid {height: 348px; background-image: url("../img/backContact.png");}
.ourSpecialists_fluid {background-image: url("../img/ourSpecialistsBack.png");}

.logo { margin-top: 20px;}

.cardioCenter_menu, .traumaCenter_menu, .services_menu,
.contact_menu, .ourSpecialists_menu   {
    display: flex;
    margin-top: -30px;
    font-family: "TTHoves-Medium";
    font-size: 18px;
    text-align: left;
    line-height: 18px;
    margin-left: 40px;
    align-items: center;
}

.cardioCenter_menu li, .traumaCenter_menu li,
.services_menu li, .contact_menu li , .ourSpecialists_menu li{
    margin-right: 20px; position: relative; width: 100%;
}
.cardioCenter_menu li a, .traumaCenter_menu li a,
.services_menu li a, .contact_menu li a,
.ourSpecialists_menu li a{text-decoration: none;}

.cardioCenter_menu li a, .contact_menu li a {color: #F9F9F9;}
.traumaCenter_menu li a, .services_menu li a, .ourSpecialists_menu li a{color: #32495E;}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 120%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    background: #32495E;
    padding: 10px;
}
.cardioCenter_menu .submenu li, .traumaCenter_menu .submenu li,
.services_menu .submenu li, .contact_menu .submenu li, .ourSpecialists_menu .submenu li
{margin-bottom: 15px;}

.cardioCenter_menu .submenu a, .traumaCenter_menu .submenu a,
.services_menu .submenu a, .contact_menu .submenu a, .ourSpecialists_menu .submenu a
 {color: #F9F9F9;}

.cardioCenter_menu li:hover .submenu, .traumaCenter_menu li:hover .submenu, .services_menu li:hover .submenu,
.contact_menu li:hover .submenu, .ourSpecialists_menu li:hover .submenu {visibility: visible;}

.fa-angle-down {
    font-family: "FontAwesome";
    color: inherit;
    padding-left: 10px;
}

.cardioCenter_text h6, .traumaCenter_text h6, .services_text h6,
.contact_text h6, .ourSpecialists_text h6 {
    width: 672px;
    font-family: "TTHoves-ExtraBold";
    font-weight: 800;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    margin-top: 60px;
}
.cardioCenter_text h6, .contact_text h6 {color: #F9F9F9;}
.traumaCenter_text h6, .services_text h6, .ourSpecialists_text h6 {color: #32495E;}

.cardioCenter_text p, .traumaCenter_text p,
.services_text p, .ourSpecialists_text p {
    width: 780px;
    font-family: "TTHoves-DemiBold";
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
}
.cardioCenter_text p  {color: #F9F9F9;}
.traumaCenter_text p, .services_text p, .ourSpecialists_text p {color: #32495E;}