.servicesPhoto {
    width: 100%;
    height: 334px;
    background-color:  #32495E;
}
.services_photoServ {
    display: flex;
    justify-content: center;
}
.services_redInfo {
    position: absolute;
    visibility: hidden;
    z-index: 1;
}
.services_photoServ li p{
    position: absolute;
    font-family: "TTHoves-Bold";
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #F9F9F9;
    margin-top: 272px;
    margin-left:25px ;
    width: 241px;
}
.services_redInfo .pulse {
    height: 164px;
}
.services_redInfo .pulse img {
    margin-top: 70px ;
    margin-left: 125px ;
}
.services_redInfo .redInfoText {
     height: 170px;
    width: 293px;
    background-color: #E95258;
}
.services_redInfo .redInfoText p:first-child {
    font-family: "TTHoves-Bold";
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #F9F9F9;
    margin-top: 20px ;
    margin-left: 26px ;
}
.services_redInfo .redInfoText p:last-child {
    font-family: "TT Hoves";
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    margin-top: 80px ;
    margin-left: 26px ;
}
.services_photoServ li:hover .services_redInfo{
    visibility: visible;
}
.priceList h6 {
    font-family: "TTHoves-Bold";
    font-weight: 800;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #32495E;
    margin-top: 70px ;
}
.menuPrice {
    display: flex;
    margin-top: 20px;
}

.menuPrice li {
    margin-right: 40px;
    font-family: "TTHoves-Medium";
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8093AC;
    cursor: pointer;
}
.menuPrice li:hover {border-bottom: 1px solid #E95258;}
.gridServices {
    margin-bottom: 70px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 2fr;
    grid-auto-rows: minmax(20px, auto);
    grid-row-gap: 20px;
}
.gridServices li {
    font-family: "TTHoves-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8093AC;
}

.gridServices li:nth-child(1),.gridServices li:nth-child(2),
.gridServices li:nth-child(3),.gridServices li:nth-child(4) {
    font-family: "TTHoves-Bold";
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #32495E;
    margin-bottom: 30px;
}
