.confirmation {
    min-height: 83.8vh;
    height: auto;
}

.receipt {
    border: 5px solid #3AA8E8;
    min-height: 60vh;
    height: auto;
    background-color: #E95258;
    margin-top: 40px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}



@media (max-width: 992px) and (min-width: 768px) {

    .buttons {
       margin-bottom: 15px;
    }
}

@media (max-width: 768px) and (min-width: 575px) {
 .cAddress, .time { font-size: 75%; }
 .buttons button {
     width: 90px;
     height: 50px;
     font-size: 75%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

}

@media all and (max-width: 576px) {

}