
.logo {
    margin-top: 0;
}
#menu__toggle {
    opacity: 0;
    width: auto;
    height: 0;
}
.menu__btn {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: #000;
    border-radius: 5px;
}
.menu__btn > span::before {
    content: '';
    top: -20px;
}
.menu__btn > span::after {
    content: '';
    top: 20px;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    background-color:#fff;
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color:#fff;
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color:#fff;
}
.profileMenu {
    display: flex;
    align-items: center;
    margin-top: -15px;
    font-family: "TTHoves-Medium";
    font-size: 18px;
    line-height: 18px;
    text-align: left;
}
.profileMenu li {
    margin-right: 15px;
}
.profileMenu li a{
    text-decoration: none;
    color: #32495E;
}

@media (max-width: 1200px) and (min-width: 992px) {
    .profileMenu {
        text-align: center;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .profileMenu {
        font-size: 100%;
        line-height: 15px;
        text-align: center;
    }
    .profileMenu li {
        margin-right: 10px;
    }
    .profileMenu li button {
        width: 50px;
        height: 40px;
        font-size: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .profileMenu {
        font-size: 80%;
        line-height: 12px;
        text-align: center;
    }
    .profileMenu li {
        margin-right: 12px;
    }
    .profileMenu li button {
        width: 40px;
        height: 30px;
        font-size: 87.5%;
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 575px) {

    .profileMenu {

        align-items: normal;
        flex-direction: column;
        position: absolute;
        visibility: hidden;
        top: 0;
        text-align: center;
        right: 0;
        width: 68%;
        height: 416px;
        margin: 0;
        background-color: #32495E;
        font-size: 75%;
    }
    .profileMenu li:first-child{ margin-top:60px;}
    .profileMenu  li {margin-bottom:  26px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   /* .profileMenu li:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }*/
    .profileMenu  li a {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        margin-left: 40%;
    }
    #menu__toggle {
        height: auto;
    }
    .menu__btn {
        top: 7px;
        visibility: visible;
        z-index: 103;
    }
    #menu__toggle:checked ~ .profileMenu {
        visibility: visible;
        z-index: 102;
        right: 0;
    }

    .profileMenu li button {
        width: 40px;
        height: 30px;
        font-size: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40%;
    }
}



