.inputGroup {
    display: flex;
    align-items: center;
}

.search {
    width: 70%;
    margin-top: 25px;
}

.buttonSearch {
    height: 40px;
    margin-left: 10px;
}



@media (max-width: 768px) and (min-width: 576px) {
    h6.text-uppercase, div.job {
        font-size: 75%;
    }

    .buttonSearch {
        height: 35px;
        margin-top: 10px;
    }
}

@media all and (max-width: 576px) {

}
