@media (max-width: 768px) and (min-width: 480px) {
    .callback-bt {
        right: 20%;
        bottom: 50%;
        height:40px;
        width:40px;
    }
    .callback-bt .text-call, .callback-bt i {
        height:40px;
        width:40px;
    }
    .callback-bt i {
        font-size: 20px;
        line-height: 35px;
    }
}