@media (max-width: 1400px) and (min-width: 992px) {
    .map {
        margin-bottom: 26px;
        min-width: 100%;
    }
    .map h6 {
        font-size: 262.5% /*42px*/;
        margin-top: 20px;
        margin-bottom: 26px;
    }
    .address, .phone, .email {
        margin-right: 18%;
        margin-bottom: 60px;
    }
    .address h3, .phone h3, .email h3 {
        font-size: 112.5% /*18px*/;
        margin-bottom: 24px;
    }
    .address p, .phone p, .email p {
        font-size: 112.5% /* 18px*/;
        width: 30%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .map {
        margin-bottom: 26px;
        min-width: 100%;
    }
    .map h6 {
        font-size: 243.75% /*39px*/;
        margin-top: 20px;
        margin-bottom: 26px;
    }
    iframe {height:300px;}
    .address, .phone, .email {
        margin-right: 18%;
        margin-bottom: 60px;
    }
    .address h3, .phone h3, .email h3 {
        font-size: 106.25% /*17px*/;
        line-height: 18px;
        margin-bottom: 26px;
    }
    .address p, .phone p, .email p {
        font-size: 100% /* 16px*/;
        line-height: 18px;
        width: 28%;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    .map {
        margin-bottom: 26px;
        min-width: 100% /*768px*/;
    }
    .map h6 {
        font-size: 212.5% /*34px*/;
        margin-top: 20px;
        margin-bottom: 26px;
    }
    iframe {height:260px;}
    .address, .phone, .email {
        margin-right: 16%;
        margin-bottom: 60px;
    }
    .address h3, .phone h3, .email h3 {
        font-size: 87.5% /*14px*/;
        line-height: 17px;
        margin-bottom: 26px;
    }
    .address p, .phone p, .email p {
        font-size: 75% /* 12px*/;
        line-height: 18px;
        width: 28%;
    }
}

@media all and (max-width: 576px) {
    .map {
        margin-bottom: 26px;
        min-width: 100%;
    }
    .map h6 {
        font-size: 112.5% /*18px*/;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    iframe {height:180px;}
    .address, .phone, .email {
        margin-right: 12%;
        margin-bottom: 30px;
    }
    .address h3, .phone h3, .email h3 {
        font-size: 62.5% /*10px*/;
        line-height: 12px;
        margin-bottom: 15px;
    }
    .address p, .phone p, .email p {
        font-size: 50% /* 8px*/;
        line-height: 12px;
        width: 36%;
    }
}