@media (max-width: 992px) and (min-width: 768px) {
    .container { min-width: 100%;}
    .specialistsListPage {
        margin-top: 60px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    .specialistsListPage li {
        margin-right: 5% ;
        width: 25%;
    }
    .specialistsListPage img {
        width: 100%;
        height: auto ;
    }
    .specialistsListPage p {
        font-weight: 600;
        font-size: 75%;
        margin-top: 26px;
    }
    .specialistInfo {
        min-height: 450px;
    }
    .specialistInfo p {
        font-size: 125% /*20px*/;
        margin-bottom: 26px;
    }

    .gridSpecialistInfo {
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 15% 80.5%;
        grid-auto-rows: minmax(17px, auto);
        grid-row-gap: 14px;
        grid-column-gap: 10.3% /*77px*/;
    }

    .gridSpecialistInfo li:nth-child(even){
        font-size: 87.5%;
        line-height: 15px;
    }

    .career li:nth-child(odd), .activity li:nth-child(odd) {
        font-size: 87.5%;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    .container { min-width: 100%;}
    .specialistsListPage {
        margin-top: 60px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    .specialistsListPage li {
        margin-right: 4% /*30px*/;
        width: 25%;
    }
    .specialistsListPage img {
        width: 100%;
        height: auto ;
    }
    .specialistsListPage p {
        font-weight: 600;
        font-size: 75%;
        margin-top: 26px;
    }
    .specialistInfo {
        min-height: 450px;
    }
    .specialistInfo p {
        font-size: 112.5% /*18px*/;
        margin-bottom: 26px;
    }

    .gridSpecialistInfo {
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 15% 80.5% /*113px 599px*/;
        grid-auto-rows: minmax(17px, auto);
        grid-row-gap: 14px;
        grid-column-gap: 10.3% /*77px*/;
    }

    .gridSpecialistInfo li:nth-child(even){
        font-size: 75%;
        line-height: 15px;
    }

    .career li:nth-child(odd), .activity li:nth-child(odd) {
        font-size: 75%;
    }
}

@media all and (max-width: 576px) {
    .container { min-width: 100%;}
    .specialistsListPage {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    .specialistsListPage li {
        margin-right: 4% /*12px*/;
        width: 25%;
    }
    .specialistsListPage img {
        width: 100%;
        height: auto ;
    }
    .specialistsListPage p {
        font-weight: 600;
        font-size: 62.5%;
        margin-top: 15px;
    }
    .specialistInfo {
        min-height: 475px;
    }
    .specialistInfo p {
        font-size: 87.5% /*14px*/;
        margin-bottom: 15px;
    }

    .gridSpecialistInfo {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .gridSpecialistInfo li:nth-child(even){
        font-size: 70%;
        line-height: 10px;
    }

    .career li:nth-child(odd), .activity li:nth-child(odd) {
        font-size: 70%;
        line-height: 12px;
    }
}