@media (max-width: 768px) and (min-width: 480px) {
    body, html{
        width: 100%;
    }
    .centerInfo {
        height: auto;
        min-width:100%;
        background-size: 100% 100%;
    }
    .container{min-width: 100%}
    .textAboutCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textAboutCenter h6 {
        font-size: 100% /* 24px*/;
        line-height: 52px;
        margin-top: 10px;
        margin-left: 5%;
    }
    .textAboutCenter p {
        width: 75% /* 300px*/;
        font-size: 43.75% /* 7px*/;
        line-height: 20px;
        margin-top: 0;
        margin-left: 0;
    }
}