@media (max-width: 768px) and (min-width: 480px) {
    body, html{
        width: 100%;
    }
    .index_fluid {background-size: contain; height: 540px; min-width:768px;}
    .container{min-width: 100%}
    .logo img {
        width: 128px ;
        height: 31px ;
    }
    .menu {
        font-size: 12px;
    }
    .menu li {
        margin-right: 38px;
    }
    .cardioCentre h6 {
        margin-top: 30px;
        margin-left: 25%;
        width: 68%;
        height: auto;
        font-size: 18px;
        line-height: 24px;
    }

    .cardioCentre p {
        width: 68%;
        height: auto;
        font-size: 12px;
        line-height: 15px;
        margin-top: 26px;
        margin-left: 25%;
    }

    .cardioCentre .services {
        width: 57%;
        /*height: 96px;*/
        margin-top: 21px;
        margin-left: 36%;
    }
    .cardioCentre .services li, .traumaCentre .services li  {
        font-size: 12px;
    }
    .cardioCentre button, .traumaCentre button {
        width: 35%;
        font-size: 12px;
        height: 35px;
    }

    .cardioCentre button {margin-left: 50%;}

    .traumaCentre h6 {
        width: 289px;
        height: 48px;
        font-size: 18px;
        line-height: 24px;
        margin-top: 30px;
        margin-left: 48px;
    }

    .traumaCentre p {
        width: 68%;
        height: auto;
        font-size: 12px;
        line-height: 15px;
        margin-left: 14% ;
        margin-top: 26px;
    }
    .traumaCentre .services {
        width: 57%;
        /*height: 96px;*/
        margin-top: 21px;
        margin-left: 14%;
    }

    .traumaCentre button {margin-left: 14%;}

    .social {
        margin-left: 141px;
        margin-top: 26px;
    }
    .social li {
        margin-left: 7px;
    }
    .serv {
        height: 465px;
    }
    .ourServices h6 {
        font-size: 34px;
        margin-top: 60px;
        margin-bottom: 26px;
    }

    .index_photoServ li {
        margin-right: 10px;
    }
    #cardioIndex, .index_photoServ .servicesImg {
        width: 177px;
       /* height: 93px ;*/
    }
    /*.index_photoServ li  p{
        font-family: "TTHoves-Bold";
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        color: #F9F9F9;
        width: 241px;
        margin-top: 20px;
    }*/
    .index_redInfo .pulse {
        width: 177px;
        height: 93px;
    }
    .index_redInfo .pulse img {
        margin-top: 35px ;
        margin-left: 76px ;
    }
    .index_redInfo .redInfoText {
        height: 108px;
        width: 177px;
    }
    .index_redInfo .redInfoText p:first-child {
        font-size: 12px;
        line-height: 15px;
        padding-top: 10px ;
        margin-left: 9px ;
        margin-top: 0;
    }
    .index_redInfo .redInfoText p:last-child {
        font-size: 10px;
        line-height: 12px;
        margin-top: 10px ;
        margin-left: 9px ;
    }
    .ourServicesPhoto button {
        margin-top: 26px;
        margin-left: 324px;
        width: 120px;
        height : 40px;
    }
}